/*@font-face{
	src:url(../font/Comfortaa-Regular.ttf);
	font-family: 'Comfortaa';
}*/
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Comfortaa', cursive;

}
.fb_dialog .fb_dialog_advanced.fb_customer_chat_bubble_animated_no_badge.fb_customer_chat_bubble_pop_in{
	border-radius:50% !important;
}	
body{
	width: 100%;
	height: 100%;
	background: #f5f5f5;
}
/*component*/
.btn-action {
    width:  100%;
    text-align:  center;
    padding:  20px 12px;
}
.btn-custom{
	font-size: 14px;
	color: #4b4f56;
	font-weight: bold;
	background: #ffffff;
	border:  none;
	padding: 10px 30px;
	padding-top:12px;
	border-radius:  2px;
	cursor: pointer;
	color:  #ffffff;
	border-radius: 0px !important;
}
.btn-orange{
	background:  #ef8b33;
}
.btn-outline-orange{
	color:  #ef8b33;
	background:  #f5f5f5;
	border: 1px solid #ef8b33;
}
.btn-orange:hover{
	background: #d35400;
	color: #f5f5f5;	
}

.btn-outline-orange:hover{
	background: #ef8b33;
	color: #f5f5f5;
}
.btn-red{
	background: #e74c3c;
}
.btn-red:hover{
	background: #c0392b;
}
.btn-blue{
	background: #3498db; 
}
.btn-blue:hover{
	background: #2980b9;
}
.btn-green{
	background: #27ae60;
}
.btn-green:hover{
	background: #219753;
}
.btn-violet{
	background: #706fd3;
}
.btn-violet:hover{
	background: #5958b4;
}
.btn-cyan{
	background: #07abc0;
}
.btn-cyan:hover{
	background: #059aad;
}
.under-line{
	width: 150px;
	height: 5px;
	background: #4b4f56;
	margin: auto;
}
.card{
	background: #f5f5f5;
	border-radius: 0px !important;
}
.card span i{
	font-size: 100px;
	color: #ef8b33;
}
.card span{
	display: block;
	width: 100%;
	text-align: center;
}
.card-header{
	background: #ef8b33;

}
.card-header h4{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 12px;
	border-radius: 0px !important;
}
/*css header*/
header{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	transform: translateY(0px);
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	transition: 0.5s;
}
header.hidden{
	transform: translateY(-90px);
	-webkit-transform:translateY(-90px);
	-moz-transform:translateY(-90px);
	-ms-transform:translateY(-90px);
	transition: 0.5s;	
}
.top-menu{
	width: 100%;
	background: #ffffff;
	text-align: center;
	height: 90px;
	border-bottom: 1px solid #dddddd;
}
.top-menu img {
    height: 70px;
    margin-top: 10px;
}

@media (max-width: 576px) {
	.top-menu{
		height: 70px;
	}
	.top-menu img {
	    height: 50px;
	    margin-top: 10px;
	}
	.main-content{
		margin-top: 100px;
		margin-bottom: 60px;
	}
	header.hidden{
		transform: translateY(-70px);
		-webkit-transform:translateY(-70px);
		-moz-transform:translateY(-70px);
		-ms-transform:translateY(-70px);		
		transition: 0.5s;	
	}
}
.main-menu{
	background: #ffffff;
	box-shadow: 1px 5px 5px rgb(0,0,0,0.1);
}
.main-menu .nav-link{
	padding: 5px 12px;
	font-size: 20px;
	margin-right: 30px;
}

.nav-link.active{
	border-bottom: 3px solid #ef8b33;
}
/*css content*/
.main-content{
	margin-top: 160px;
	margin-bottom: 60px;
}
.page-title{
	color: #4b4f56;
	text-align: center;
	font-size: 2.5rem;
	padding: 20px 12px;
}
.page-subtitle{
	color: #757575;
	text-align: center;
	line-height: 30px;
}
.section-title{
	color: #4b4f56;
	text-align: center;
	font-size: 2rem;
	padding: 10px 12px;
	margin-bottom: 20px;
}
/*section feature*/
#section-feature{
	width: 100%;
	/*background: #f7f7f7;*/
}
.color-card{
	width: 100%;
}
.color-card:hover{
}
.feature-sub{
	color: #4b4f56;
	font-size: 20px;
	text-align: center;
}
.card.color-red .card-header{
	background: #e74c3c; 
}
.card.color-red span i{
	color:#e74c3c;
}
.card.color-green .card-header{
	background: #27ae60;
}
.card.color-green span i{
	color:#27ae60;
}
.card.color-blue .card-header{
	background: #3498db; 
}
.card.color-blue span i{
	color:#3498db;
}
.card.color-violet .card-header{
	background: #706fd3; 
}
.card.color-violet span i{
	color:#706fd3;
}
.card.color-cyan .card-header{
	background: #07abc0; 
}
.card.color-cyan span i{
	color:#07abc0;
}
/*section terms*/
 p.card-text{
	color: #212121;
}
.terms-body p.card-text i{
	margin-right: 10px;
	color: #27ae60;
}
.deny-body p.card-text i{
	margin-right: 10px;
	color: #e74c3c;	
}
.alert-body p.card-text i{
	margin-right: 10px;
	color: #ef8b33;
}
.info-body p.card-text i{
	margin-right: 10px;
	color: #07abc0;
}
.back-to-top{
	width: 50px;
	height: 50px;
	background:#4b4f56;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -20px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
}
.back-to-top i{
	color: #fafafa;
	font-size: 30px;
}
.back-to-top.show{
	opacity: 0.8;
	visibility: visible;	
}
.modal-header{
	color: #ffffff !important;
	text-align: center;
	font-weight: bold;
	border-radius: 0px !important;
}
.modal-body p i{
	color: #27ae60;
	margin-right: 10px;
}
.modal{
	border-radius: 0px !important;
}
.modal-body p{
	line-height: 30px;
}
.modal-orange .modal-header{
	background: #ef8b33 !important;
}
.modal-red .modal-header{
	background: #e74c3c !important;
}
.modal-green .modal-header{
	background: #27ae60 !important;
}
.modal-blue .modal-header{
	background: #3498db !important;
}
.modal-violet .modal-header{
	background: #706fd3 !important;
}
.modal-cyan .modal-header{
	background: #07abc0 !important;
}
